body {

    background-color: #fff;

}

main,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #161616;
    width: 80%;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: 50px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 12px;
    color: #fff;
}

.btn-orange {
    text-decoration: none;
    background-color: #DD0000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.half-width {
    width: 40%;
}

.half-width img {
    width: 100%;
}

.header1 {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    width: 80%;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}

.match-details {
    display: grid;
    grid-template-columns: 25ch auto;
}

.match-schedule {
    background-color: #000;
    display: grid;
    grid-template-rows: repeat(20px 20px 20px);
    padding: 8px;
    margin: 5px;
    height: 150px;
    border-radius: 5px;
}

.match-schedule a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    margin: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#match-blog {
    background-color: #DD0000;
    color: #fff;
}

.all-transfer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.transfer {
    margin: 5px;
    background-color: lightgrey;
    padding: 5px 10px;
    border-radius: 5px;
}

.transfer img {
    width: 100%;
}

.transfer a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 0 10px;
}

.icon-transfer {
    display: flex;
    justify-content: space-between;

}

.icon-transfer p {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.fa-clock,
.fa-comment {
    color: rgb(0, 0, 0);
    font-size: 10px;
    padding: 0 5px;
}

#view-all {
    display: none;
}

.footer {
    background-color: #000;
    text-align: center;
    color: #fff;
    width: 80%;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}

.footer a {
    text-decoration: none;
    color: aliceblue;
    padding: 0 10px;
}

.icon {

    font-size: 50px;
    padding: 0 20px;
    margin-top: 50px;
}

/* responsive section    */
@media only screen and (min-width: 768px)and (max-width:992px) {


    .match-details {
        display: block;
    }

    .match-schedule {
        display: flex;
        flex-direction: column;

    }

    .all-transfer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #view-all {
        display: inline-block;
        text-align: center;
        margin-bottom: 30px;

    }

    .footer-list {
        display: block;
        padding-top: 20px;


    }

    .footer-list a {
        margin: 15px 0;
    }
}

@media only screen and (max-width: 576px) {

    .container {
        display: flex;
        flex-direction: column;

    }

    .half-width {
        width: 100%;
        margin: 20px 0;
    }

    .half-width img {
        width: 100%;
    }

    .match-details {
        display: block;
    }

    .match-schedule {
        display: flex;
        flex-direction: column;

    }

    .all-transfer {
        display: block;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        padding-top: 20px;

    }

    .footer-list a {
        padding-top: 15px;
    }
}